<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>[[${c.code}]] - [[${c.countryName}]]</title>

<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />


<link rel="stylesheet" type="text/css"
	href="https://bootswatch.com/4/cerulean/bootstrap.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.9.0/css/flag-icon.min.css" />
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />




</head>


<body>
	<div class="container">
		<nav aria-label="breadcrumb" role="navigation">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a th:href="@{/countries}">Countries</a></li>
				<li class="breadcrumb-item active" aria-current="page">[[${c.countryName}]]</li>
			</ol>
		</nav>
		<h1>
			[[|${c.countryName}(${c.code} / ${c.code2})|]] <span
				class="pull-right"> <a class="btn btn-sm btn-success"
				th:href="@{|/countries/${c.code}/form|}"> <i
					class="fa fa-pencil"></i> Edit
			</a>
			</span>
		</h1>
		<div class="row">
			<div
				th:class="|col-md-3 flag-icon flag-icon-${#strings.toLowerCase(c.code2)}|">
			</div>

			<div class="col-md-9">
				<div class="row">

					<div class="col">
						<div class="row">
							<div class="col font-weight-bold">Capital</div>
							<div class="col">[[${c.capital}]]</div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Continent</div>
							<div class="col">[[${c.continent}]]</div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Region</div>
							<div class="col">[[${c.region}]]</div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Head of State</div>
							<div class="col">[[${c.headOfState}]]</div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Government</div>
							<div class="col">[[${c.governmentForm}]]</div>
						</div>
					</div>
					<div class="col">
						<div class="row">
							<div class="col font-weight-bold">Local Name</div>
							<div class="col">[[${c.localName}]]</div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Independence</div>
							<div class="col">[[${c.indepYear}]]</div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Surface Area</div>
							<div class="col">[[${c.surfaceArea}]]</div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Population</div>
							<div class="col">[[${c.population}]]</div>
						</div>
						<div class="row">
							<div class="col font-weight-bold">Life Expectancy</div>
							<div class="col">[[${c.lifeExpectancy}]]</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr />

	</div></body>
</html>